body {
  margin: 0px;
  padding: 0px 0px;
  background-color: var(--color-dark);
}

toolbar {
  display: inline-block;
  width: 100vw;
  background-color: var(--color-darkist);
}

toolbar button {
  font-size: 1rem;
  padding: 0px 10px 5px 5px;
  outline: none;
  border: none;
  background-color: var(--color-darkist);
  color: var(--color-font);
  cursor: pointer;
}

.toolOptions {
  margin-top: 5px;
  display: inline-block;
  width: 100vw;
  height: 50px;
  background-color: gray;
}

.application-container {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
  height: 95vh;
  position: relative;
}

#sketch-tools {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  margin-right: 10px;
  background-color: red;
  border: solid 1px #000;
}

#sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  height: 100%;
  background-color: var(--color-sketchpad);
  border: solid 1px #000;
}

#sketch-layer-info {
  flex-wrap: wrap;
  background-color: aqua;
  width: 250px;
  height: 100%;
  margin-left: 10px;
  border: solid 1px #000;
}

footer {
  position: bottom;

  text-align: center;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .application-container {
    flex-direction: column;
  }

  .application-container {
    padding: 0px;
    margin: 0px;
  }
  #sketch-tools {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    height: 50px;
    width: auto;
    margin: 0px;
  }
  #sketch-container {
    min-height: 500px;
    margin: 0px;
  }
  #sketch-layer-info {
    min-height: 200px;
    height: 200px;
    width: auto;
    margin: 0px;
  }
}
