*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #111;
}
#gameTitle{
    /* font */
    display: block;
    font-size: 10vh;
    -webkit-text-stroke: 1px yellow;
    color: #ffd700;
    font-family: serif;
    /* alignment */
    text-align: center;
    margin-top: 10px;
    width: 100%;
}
.playerSelection{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.tool{
    padding: 10px;

}
.tool img{
    height: 15vh;
    border: solid 1px white;
    display: block;
    opacity: 0.7;
}

.tool img:hover{
    opacity: 1;
    border: solid 2px #990000;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-iteration-count: infinite;
}

@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }

}

/* Arnea */
.arena{
    /* alignment */
    font-size: 3vh;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    color: white;    
}

/* Score Cards */
#scoreCards{
    /* alignment */
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.fightCards{
    border: aliceblue solid 1px;
    background-color: #ffd700;
    -webkit-text-stroke: 1px #ffd700;
    flex-direction: column;
    color: black;
    font-size: 3vh;
    height: 38vw;
    width: 40vw;
}

#playerSelected{
    border: white 2px solid;  
    font-size: 5vh;
    height: 30vw;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

#computerSelected{
    border: white 2px solid;
    font-size: 5vh;
    height: 30vw;
    margin: 10px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
}

#playerScore{
    font-weight: bold;
    font-size: 4vh;
}

#computerScore{
    font-weight: bold;
    font-size: 4vh;
}

#playByPlay{
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
    color: white;
}

/* Win Screen */
#gameScreen{
    display: none;
}

#gameSettings{
    display: flex;
    flex-direction: column;
    /* alignment */
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 5vh;
    padding: 50px 1vh;
    /* cosmetic */
    border-radius: 5px;
    background: linear-gradient(to bottom, #ffd700, #ffa500);
    /* font */
    color: rgb(255, 216, 118);
    -webkit-text-stroke: 1px black;
    font-size: 3vh;
}


.stats{
    border: rgba(255, 0, 0, 0.315) 5px dotted;
    margin: 10px 50px;
}

.stats p{
    padding: 0px 50px;
    text-align: left;
    justify-content: start;
    /* font */
    font-size: 5vh;
    background: -webkit-linear-gradient(#ffd700, rgb(255, 91, 73));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#gameSettings .buttonHolder{
    padding: 0px 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

#gameSettings .buttonHolder button{
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: solid 1px #000000;
    background-color: #a7ff00;
    color: black;
    font-size: 2vh;
}

