/* dragable windows */
.close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 0%;
  padding: 10px 5px;
  transform: translate(0%, -50%);
  font-weight: bolder;
}

.close:hover {
  color: rgb(110, 22, 22);
}

.dragable-window {
  position: absolute;
  z-index: auto;
  width: fit-content;
  background-color: rgb(218, 218, 218);
  border: 1px solid black;
  border-radius: 5px;
}

.dragable-header {
  padding: 10px;
  width: auto;
  cursor: move;
  z-index: relative;
  background-color: #7b08ff;
  color: #fff;
}

.dragable-content {
  padding: 1rem 1rem 0rem 1rem;
  width: auto;
  background-color: #fff;
  color: #000;
}

.dragable-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dragable-content form label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.dragable-content form input {
  margin-left: 2rem;
}

#dragable-window footer {
  position: bottom;
  bottom: 0px;
  right: 0px;
  width: auto;
  height: 1rem;
}
