:root {
  --color-darkist: #1d1d1d;
  --color-dark: #2c3e50;
  --color-sketchpad: #ecf0f1;
  --color-font: #ffffff;
}

/* CSS for the element that are static  */
body {
  margin: 0px;
  padding: 0px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: var(--color-dark);
  padding-top: 20px; /* remove this when contining to work on toolbar */
}

/* Toolbar taken out feature not developed*/
toolbar {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: var(--color-darkist);
}

toolbar button {
  font-size: 1rem;
  padding: 0px 10px 0px 0px;
  outline: none;
  border: none;
  background-color: var(--color-darkist);
  color: var(--color-font);
  cursor: pointer;
}

.toolOptions {
  margin: 5px 0px 0px 0px;
  display: inline-block;
  width: 100%;
  height: 50px;
  background-color: gray;
}

/* This holds the sketch pad and tools*/
.application-container {
  display: flex;
  justify-content: baseline;
  justify-content: space-between;
  height: 92vh;
  position: relative;
}

#sketch-tools {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100%;
  margin: 0px 10px 0px 0px;
  margin-right: 10px;
  background-color: red;
  border: solid 1px #000;
}

#sketch-tools button {
  font-size: 1.5rem;
  padding: 0px 10px;
  outline: none;
  border: solid 1px #000;
  background-color: rgba(75, 0, 94, 0.699);
  color: var(--color-font);
  cursor: pointer;
}
#sketch-tools button:hover {
  background-color: rgb(75, 0, 94);
}

/* holds the sketch canvas */
#sketch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 2;
  height: 100%;
  background-color: var(--color-sketchpad);
}

#sketchBackground {
  border: 1px solid black;
}

/* layer-info taken out feature not developed*/
#sketch-layer-info {
  flex-wrap: wrap;
  background-color: aqua;
  width: 250px;
  height: 100%;
  margin-left: 10px;
  border: solid 1px #000;
}

/* bottom of page */
footer {
  position: bottom;
  bottom: 0;
  text-align: center;
  color: white;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .application-container {
    flex-direction: column;
  }

  .application-container {
    padding: 0px;
    margin: 0px;
  }
  #sketch-tools {
    display: flex;
    flex-direction: row;
    min-height: 50px;
    height: 50px;
    width: auto;
    margin: 0px;
  }
  #sketch-container {
    min-height: 500px;
    margin: 0px;
  }
  #sketch-layer-info {
    min-height: 200px;
    height: 200px;
    width: auto;
    margin: 0px;
  }
}
