body {
  margin: 0px;
  padding: 0px;
}
.application-container {
  display: flex;
  width: 100%;
  height: 80vh;
  position: relative;
}

#sketch-tools {
  flex-wrap: wrap;
  width: 250px;
  height: 100%;
  border: solid 1px #000;
}
#sketch-container {
  flex-wrap: wrap;
  width: 70%;
  height: 100%;
  border: solid 1px #000;
}

footer {
  width: 100%;
  margin: auto;
}
